/.ipynb_checkpoints
/Abalone Data Analysis/.ipynb_checkpoints
/Audio Signal Analysis/.ipynb_checkpoints
/Diabetes Data Study Random Forest/.ipynb_checkpoints
/Engineering Graduate Salary Data Analysis/.ipynb_checkpoints
/Ford Data Timeseries Analysis/.ipynb_checkpoints
/Global Temperature Data Analysis/.ipynb_checkpoints
/Image Segmentation OpenCV/.ipynb_checkpoints
/OpenCV/
/Penguin Tracking Study/.ipynb_checkpoints
/Spotify Data Exploration/.ipynb_checkpoints
/StackOverFlow Data Analysis/.ipynb_checkpoints
/Unsupervised algorithms/.ipynb_checkpoints
/Whales migration study/
/Covid/.ipynb_checkpoints
/Avocado EDA/.ipynb_checkpoints
/Anomaly Detection/.ipynb_checkpoints

